---
import Layout from "../layouts/Layout.astro";
import Header from "./components/Header.astro";
import Hero from "./components/Hero.astro";
import Question from "./components/Question.astro";
import Features from "./components/Features.astro";
import Integrations from "./components/Integrations.astro";
import CTA from "./components/CTA.astro";
import Footer from "./components/Footer.astro";
---

<Layout title="Cobalt | Unleash the power of intuitive finance">
  <main class="relative">
    <Header />
    <Hero />
    <Question />
    <Features />
    <Integrations />
    <CTA />
    <Footer />
  </main>
</Layout>
