<article class="col-span-3 border">
  <img src="#" alt="Insights at your fingertips" />
  <h2>Insights at your fingertips</h2>
  <p>
    All your data and finances in one place to provide quick answers and make
    decisions instantly.
  </p>
</article>
