---
import BentoGrid from "./BentoGrid.astro"
import CardBento from "./CardBento.astro"
---

<section class="flex flex-col gap-10">
  <div>
    <h2>Everything you need.{" "}
      Nothing you don’t</h2>
  <p>Financial management and visibility in one place. Experience a flexible toolkit that makes every task feel like a breeze.</p>
    </div>
  <BentoGrid>
    <CardBento/>
    <CardBento/>
    <CardBento/>
    <CardBento/>
    <CardBento/>
  </BentoGrid>
</section>