<section class="flex flex-col items-center gap-5">
  <h1>Unleash the power of intuitive finance</h1>
  <p>Say goodbye to the outdated financial tools. Every small business owner, regardless of the background, can now manage their business like a pro. Simple. Intuitive. And never boring.</p>
  <a>Join the waitlist</a>
  <div>
    <p>Learn More</p>
  </div>
  <img src="#" alt="Imagen Hero">
</section>