---
import CardBento from "./CardBento.astro"
---

<section>
  <h2>Meet Genius</h2>
  <p>Our AI-driven assistant is designed to decode complex financial figures and illuminate key trends in your business.</p>
  <div class="grid lg:grid-cols-6">
    <CardBento/>
    <CardBento/>
  </div>
</section>